<div id="add-list" class="add-list-editor">
  <form hx-post="/lists" hx-target="#board">
    <div class="list-title-edit">
      <input class="list-title-textarea" type="text" maxlength="30" name="name" placeholder='Enter list title...' autofocus="true">
    </div>
    <div class="edit-buttons">
      <button class="edit-button" type="submit" tabindex='0'> Add list</button>
      <button class="edit-button-cancel" 
        type="button"
        tabindex='0'
        hx-get="/lists/cancel"
        hx-target="#add-list"
        hx-swap="outerHTML"
        >
        {% include "svg-close.html" %}
        </button>
    </div>
  </form>
</div>
