<div id="edit-card" class="edit-card">
  <form hx-put="/cards/{{list.id}}/{{card.id}}" hx-target="#edit-card" hx-swap="outerHTML">
    <div class="card">
      <textarea class="edit-card-textarea" name="label" maxlength="300" autofocus="true">{{card.label}}</textarea>
      <input type="hidden" name="listId" value={{id}}>
      <div class="edit-buttons">
	<button class="edit-button"
		type="submit" 
		tabindex='0' 
		_="on htmx:afterOnLoad remove #edit-card"
		>Save</button>
	<button class="edit-button delete-button"
		type="button" 
		tabindex='0' 
		hx-delete="/cards/{{list.id}}/{{card.id}}"
		_="on htmx:afterOnLoad remove #edit-card"
		>Delete</button>
	<div class="edit-button-cancel" tabindex='0' hx-get="/cards/cancel-edit/{{list.id}}/{{card.id}}" hx-target='#edit-card' hx-swap="outerHTML">
	  {% include "svg-close.html" %}
	</div>
      </div>
    </div>
  </form>
</div>
